html,body,.container{
    height: 100%;
}

.container{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    border: 1px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    margin: 10px;
}